html {
  font-size: 68%;
}



/** BOTONES **/
.btn {
  margin-top: 2rem;
  font-family: var(--headingFont);
  padding: 1.5rem;
  font-size: 1.4;
  font-weight: 400;
  border-radius: .5rem;
  border: none;
  transition: background-color .3s ease;
}


.img-social {
  width: 30px;
  
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
.img-nav {
  width: 80px;
}
h1,h6, h5 {
  color: #E0E0DE;
  text-align: center;
     
          
}

.p-descripcion {
  color: #A74900;

}
.d-flex {
  justify-content: space-between;
  align-items: center;
}

.card {
  text-align: center;
  margin: 10px auto;
  
}
footer {
 margin: 0 auto;   
  
  
}

.img-social {
  width: 30px;
  
}

h2 {
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}





